.form-object.section
  ._overlay
    ._wrap.wrap
      h2._title Понравился объект?
      ._content.
        Разнообразный и богатый опыт реализация намеченных плановых 
        заданий требуют определения и уточнения дальнейших направлений 
        развития.
      button._btn Записаться на осмотр
      ._specialist
        ._specialist-desc
          ._specialist-name АЛИНА ФОМИНА
          ._specialist-position Специалист по данному объекту
        img(src="img/girl.png", alt="specialist")._specialist-img
