footer.footer.section
  .footer__wrap.wrap
    .footer__contacts
      img(src="img/logo-white.png", alt="logo").footer__logo
      .footer__phone 8 (999) 355 55 33
      .footer__email info@mirzapada.ru
      .footer__social-block
        +svg('ig')
        +svg('fb')
        +svg('vk')
    .footer__info-group
      ul.footer__list Услуги
        li.footer__list-item Заказать межевой план
        li.footer__list-item Заказать технический план
        li.footer__list-item Сдать недвижимость
        li.footer__list-item Продать недвижимость
      ul.footer__list Информация
        li.footer__list-item Подобрать специалиста
        li.footer__list-item О компании
        li.footer__list-item Карта объектов
        li.footer__list-item Контакты
      ul.footer__list Подобрать объект
        li.footer__list-item Квартиры
        li.footer__list-item Комнаты
        li.footer__list-item Дома
        li.footer__list-item Коммерческая недвижимость
        li.footer__list-item Аренда недвижимости