.object-location {
  padding: 48px 0;
  &__wrap {
    align-items: center;
  }
  &__title {
    margin-bottom: 63px;
    font-family: "DINPro";
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    color: $txt-color;
    text-transform: uppercase;
  }
  &__map {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 430px;
    border: 1px solid #d3d3d3;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.08);
    background-image: url('../object-location/img/object_map.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    
    // object-fit: cover;
  }
  // &__map-img {
  //   width: 1070px;
  //   max-height: 450px;
  // }
}