.icon {
  display: inline-block;
  // &.example-png-icon {
  //   background: url(img/icons/example.png);
  //   width: 30px;
  //   height: 30px;
  // }
  // &-example-svg-icon {
  //   width: 30px;
  //   height: 30px;
  //   fill: red;
  // }
  &-building {
    width: 50px;
    height: 50px;
    fill: black;
    transition: 0.3s;
  }
  &-keys {
    width: 50px;
    height: 50px;
    fill: black;
    transition: 0.3s;
  }
  &-handshake {
    width: 75px;
    height: 51px;
    fill: black;
  }
  &-box {
    width: 64px;
    height: 63px;
    fill: black;
  }
  &-compass {
    width: 47px;
    height: 72px;
    fill: black;
  }
  &-checked {
    width: 15px;
    height: 12px;
    fill: #f2c736;
  }
  &-people {
    width: 63px;
    height: 65px;
    fill: black;
  }
  &-trophy {
    width: 54px;
    height: 65px;
    fill: black;
  }
  &-plus {
    width: 25px;
    height: 25px;
    fill: #d3d3d3;
  }
  &-star_full {
    width: 20px;
    height: 19px;
    fill: #f2c736;
  }
  &-star_empty {
    width: 20px;
    height: 19px;
    fill: #f2c736;
  }
  &-ig {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }
  &-fb {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }
  &-vk {
    width: 24px;
    height: 14px;
    fill: #ffffff;
  }

}