@import "_fonts";
@import "_mixins";
@import "_variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font;
  font-size: $base-font-size;
  min-width: 320px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: unset;
  &:visited {
    color: unset;
  }

  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: $base-font;
  border: none;
  &:hover{
    cursor: pointer;
  }
}

.section {
  display: flex;
  justify-content: center;
}

.wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 1100px;
  padding: 0 15px;
}

@import "icons";

@import "../elements/common/header/header";
@import "../elements/common/nav/nav";
@import "../elements/common/footer/footer";

@import "../elements/index-page/main/mainscreen";
@import "../elements/index-page/features/features";
@import "../elements/index-page/cooperation/cooperation";
@import "../elements/index-page/achievement/achievement";
@import "../elements/index-page/products/products";
@import "../elements/index-page/cadaster/cadaster";
@import "../elements/index-page/offers/offers";
@import "../elements/index-page/guarantee/guarantee";
@import "../elements/index-page/feedback/feedback";
@import "../elements/index-page/form/form";
@import "../elements/index-page/slider/slider";

@import "../elements/team-page/mainscreen/mainscreen";
@import "../elements/team-page/employees/employees";