.alike.section
  ._wrap.wrap
    h2._title Похожие объекты
    ._list
      ._item
        ._item-slide
          .swiper-container(data-attribute='sw__small')
            .swiper-wrapper
              .swiper-slide
                img(src="img/object_slide1.jpg", alt="slide")
              .swiper-slide
                img(src="img/object_slide2.jpg", alt="slide")
              .swiper-slide
                img(src="img/object_slide1.jpg", alt="slide")
              .swiper-slide
                img(src="img/object_slide3.jpg", alt="slide")
            .swiper-pagination
        ._item-content
          ._item-header
            ._item-name пентхаус в центре
            ._item-like В избранное 
            +svg('star_empty')
          ._item-address г. Москва, ул. Пушкина 39а 
          ._item-txt.
            Разнообразный и богатый опыт реализация намеченных плановых 
            заданий требуют определения и уточнения дальнейших направлений 
            развития. Не следует, однако забывать, что постоянный 
            количественный рост и сфера нашей активности.
          ._item-footer
            ._item-params
              ._item-params-item
                ._item-params-key Площадь:
                ._item-params-value 152м<sup>2</sup>
              ._item-params-item
                ._item-params-key Кол-во комнат:
                ._item-params-value 4
              ._item-params-item
                ._item-params-key Этаж:
                ._item-params-value 24
            ._item-price 10 500 000 руб.
      ._item
        ._item-slide
          .swiper-container(data-attribute='sw__small')
            .swiper-wrapper
              .swiper-slide
                img(src="img/object_slide3.jpg", alt="slide")
              .swiper-slide
                img(src="img/object_slide2.jpg", alt="slide")
              .swiper-slide
                img(src="img/object_slide1.jpg", alt="slide")
              .swiper-slide
                img(src="img/object_slide2.jpg", alt="slide")
            .swiper-pagination
        ._item-content
          ._item-header
            ._item-name пентхаус в центре
            ._item-like В избранное 
            +svg('star_empty')
          ._item-address г. Москва, ул. Пушкина 39а 
          ._item-txt.
            Разнообразный и богатый опыт реализация намеченных плановых 
            заданий требуют определения и уточнения дальнейших направлений 
            развития. Не следует, однако забывать, что постоянный 
            количественный рост и сфера нашей активности.
          ._item-footer
            ._item-params
              ._item-params-item
                ._item-params-key Площадь:
                ._item-params-value 152м<sup>2</sup>
              ._item-params-item
                ._item-params-key Кол-во комнат:
                ._item-params-value 4
              ._item-params-item
                ._item-params-key Этаж:
                ._item-params-value 24
            ._item-price 10 500 000 руб.
      ._item
        ._item-slide
          .swiper-container(data-attribute='sw__small')
            .swiper-wrapper
              .swiper-slide
                img(src="img/object_slide2.jpg", alt="slide")
              .swiper-slide
                img(src="img/object_slide1.jpg", alt="slide")
              .swiper-slide
                img(src="img/object_slide3.jpg", alt="slide")
              .swiper-slide
                img(src="img/object_slide1.jpg", alt="slide")
            .swiper-pagination
        ._item-content
          ._item-header
            ._item-name пентхаус в центре
            ._item-like В избранное 
            +svg('star_empty')
          ._item-address г. Москва, ул. Пушкина 39а 
          ._item-txt.
            Разнообразный и богатый опыт реализация намеченных плановых 
            заданий требуют определения и уточнения дальнейших направлений 
            развития. Не следует, однако забывать, что постоянный 
            количественный рост и сфера нашей активности.
          ._item-footer
            ._item-params
              ._item-params-item
                ._item-params-key Площадь:
                ._item-params-value 152м<sup>2</sup>
              ._item-params-item
                ._item-params-key Кол-во комнат:
                ._item-params-value 4
              ._item-params-item
                ._item-params-key Этаж:
                ._item-params-value 24
            ._item-price 10 500 000 руб.                        

