.slider.section
  .slider__wrap.wrap
    h2.slider__title Наши достижения
    .swiper-container(data-attribute="sw__big")
      .swiper-wrapper
        .swiper-slide
          .slider__item
            img(src="img/slide1.jpg", alt="slide").slider__img
            .slider__content
              .slider__content-title 1-Е МЕСТО В МЕРОПРИЯТИИ “ЛУЧШИЕ АГЕНСТВА 2018г”
              .slider__content-txt.
                Разнообразный и богатый опыт реализация намеченных плановых заданий
                требуют определения и уточнения дальнейших направлений развития. Не 
                следует, однако забывать, что постоянный количественный рост и сфера 
                нашей активности.
        .swiper-slide
          .slider__item
            img(src="img/slide2.jpg", alt="slide").slider__img
            .slider__content
              .slider__content-title СЕРТИФИКАТ
              .slider__content-txt.
                Разнообразный и богатый опыт реализация намеченных плановых заданий
                требуют определения и уточнения дальнейших направлений развития. Не 
                следует, однако забывать, что постоянный количественный рост и сфера 
                нашей активности.
        .swiper-slide
          .slider__item
            img(src="img/slide2.jpg", alt="slide").slider__img
            .slider__content
              .slider__content-title СЕРТИФИКАТ
              .slider__content-txt.
                Разнообразный и богатый опыт реализация намеченных плановых заданий
                требуют определения и уточнения дальнейших направлений развития. Не 
                следует, однако забывать, что постоянный количественный рост и сфера 
                нашей активности.
        .swiper-slide
          .slider__item
            img(src="img/slide2.jpg", alt="slide").slider__img
            .slider__content
              .slider__content-title СЕРТИФИКАТ
              .slider__content-txt.
                Разнообразный и богатый опыт реализация намеченных плановых заданий
                требуют определения и уточнения дальнейших направлений развития. Не 
                следует, однако забывать, что постоянный количественный рост и сфера 
                нашей активности.
    .swiper-scrollbar.slider__scrollbar-tool
      .slider__srollbar-item