.cooperation.section
  .cooperation__wrap.wrap
    .cooperation__view
      img(src="img/cooperation.jpg", alt="team").cooperation__view-img
    .cooperation__content
      h2.cooperation__content-title Сотрудничество с нами гарантирует
      .cooperation__content-list
        .cooperation__content-item
          +svg('checked', '.cooperation__content-icon')
          p.cooperation__content-text Экономию 90% вашего времени
        .cooperation__content-item
          +svg('checked', '.cooperation__content-icon')
          p.cooperation__content-text Грамотные, опытные сотрудники
        .cooperation__content-item
          +svg('checked', '.cooperation__content-icon')
          p.cooperation__content-text Предоставление полной, точной информации о объекте
        .cooperation__content-item
          +svg('checked', '.cooperation__content-icon')
          p.cooperation__content-text Собственная, обновляемая база договоров, позволяющая защитить ваши интересы