.main.section
  //- .main__overlay
  .main__wrap.wrap
    h2.main__title Продажа и аренда недвижимости, кадастровые и геодезические услуги
    .main__btn-group
      .main__btn
        +svg('building', 'main__icon')
        .main__btn-content КУПИТЬ
          .main__btn-text Квартиру мечты
      .main__btn
        +svg('keys', 'main__icon') 
        .main__btn-content ПРОДАТЬ
          .main__btn-text Максимально выгодно
    .main__boss
      img(src="img/businessman.png", alt="boss").main__boss-img
