.nav {
  &__wrap {
    flex-direction: row;
    padding: 0;
  }
  &__menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 17px;
  }
  &__menu-item {
    position: relative;
    flex-basis: 16.66%;
    color: $txt-color;
    font-weight: 300;
    list-style: none;
    text-align: center;
    &:not(:first-child) {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 35px;
        border: 1px solid #d3d3d3;
      }
    }
  }
  &__menu-link {
    cursor: pointer;
    padding-top: 9px;
    padding-bottom: 7px;
    @media (max-width: 1102px) {
      font-size: 15px;
    }
  }
  @media (max-width: 949px) {
    display: none;
  }
}