nav.nav.section
  .nav__wrap.wrap
    .nav__menu
      .nav__menu-item 
        a.nav__menu-link Подбор объекта
      .nav__menu-item
        a.nav__menu-link О компании
      .nav__menu-item
        a.nav__menu-link Наши услуги
      .nav__menu-item
        a.nav__menu-link Кадастр и геодеизия
      .nav__menu-item
        a.nav__menu-link Специалисты
      .nav__menu-item
        a.nav__menu-link Контакты