header.header.section
  ._wrap.wrap
    img(src="img/logo.png", alt="logo")._logo
    .header__contacts 
      a(href="tel:89993555533")._contacts-phone 8 (999) 355 55 33
      a(href="#").header__contacts-call обратный звонок
    button.header__btn Бесплатная консультация
      