.slider.-object.section
  .slider__wrap.wrap
    .swiper-container(data-attribute="sw__big")
      .swiper-wrapper
        .swiper-slide.slider__item.slider__item_first
          .slider__content
            .slider__content-title ФОТО И ИНФОРМАЦИЯ О ОБЪЕКТЕ
          img(src="img/room-slide1.png", alt="slide").slider__img
        .swiper-slide.slider__item
          img(src="img/room-slide2.png", alt="slide").slider__img
          .slider__content
            .slider__content-title ЗАГОЛОВОК
            .slider__content-txt.
              Разнообразный и богатый опыт реализация намеченных плановых заданий 
              требуют определения и уточнения дальнейших направлений развития. Не 
              следует, однако забывать, что постоянный количественный рост и сфера 
              нашей активности.
        .swiper-slide.slider__item
          img(src="img/room-slide2.png", alt="slide").slider__img
          .slider__content
            .slider__content-title ЗАГОЛОВОК
            .slider__content-txt.
              Разнообразный и богатый опыт реализация намеченных плановых заданий
               требуют определения и уточнения дальнейших направлений развития. Не 
               следует, однако забывать, что постоянный количественный рост и сфера 
               нашей активности.
        .swiper-slide.slider__item
          img(src="img/room-slide2.png", alt="slide").slider__img
          .slider__content
            .slider__content-title ЗАГОЛОВОК
            .slider__content-txt.
              Разнообразный и богатый опыт реализация намеченных плановых заданий
               требуют определения и уточнения дальнейших направлений развития. Не 
               следует, однако забывать, что постоянный количественный рост и сфера 
               нашей активности.
    .swiper-scrollbar.slider__scrollbar-tool
      .slider__srollbar-item