footer.footer.section
  .footer__wrap.wrap
    .footer__contacts
      img(src="img/logo-white.png", alt="logo").footer__logo
      a(href="tel:89993555533").footer__phone 8 (999) 355 55 33
      a(href="mailto:info@mirzapada.ru").footer__email info@mirzapada.ru
      .footer__social-block
        a(href="#")._social-block-link
          +svg('ig')
        a(href="#")._social-block-link
          +svg('fb')
        a(href="#")._social-block-link
          +svg('vk')
    .footer__info-group
      .footer__list 
        ._list-title Услуги
        a(href="#").footer__list-item Заказать межевой план
        a(href="#").footer__list-item Заказать технический план
        a(href="#").footer__list-item Сдать недвижимость
        a(href="#").footer__list-item Продать недвижимость
      .footer__list 
        ._list-title Информация
        a(href="#").footer__list-item Подобрать специалиста
        a(href="#").footer__list-item О компании
        a(href="#").footer__list-item Карта объектов
        a(href="#").footer__list-item Контакты
      .footer__list 
        ._list-title Подобрать объект
        a(href="#").footer__list-item Квартиры
        a(href="#").footer__list-item Комнаты
        a(href="#").footer__list-item Дома
        a(href="#").footer__list-item Коммерческая недвижимость
        a(href="#").footer__list-item Аренда недвижимости