.feedback.section
  h2.feedback__title Отзывы
  .feedback__wrap.wrap
    .feedback__item
      .feedback__item-view.feedback__item-view_1
      .feedback__item-content
        .feedback__item-header
          .feedback__item-name АЛИНА ФОМИНА
          .feedback__item-rate
            +svg('star_full')
            +svg('star_full')
            +svg('star_full')
            +svg('star_full')
            +svg('star_empty')
        .feedback__item-txt.
          Разнообразный и богатый опыт реализация намеченных плановых заданий 
          требуют определения и уточнения дальнейших направлений развития. Не 
          следует, однако забывать, что постоянный количественный рост и сфера 
          нашей активности. Разнообразный и богатый опыт реализация намеченных 
          плановых заданий требуют определения и уточнения дальнейших направлений 
          развития. Не следует, однако забывать, что постоянный количественный 
          рост и сфера нашей активности.
          и уточнения дальнейших направлений развития. Не следует, однако 
          забывать, что постоянный количественный рост и сфера нашей активности.
           И уточнения дальнейших направлений развития. Не следует, однако 
           забывать, что постоянный количественный рост и сфера нашей активности.
    .feedback__item
      .feedback__item-view.feedback__item-view_2
      .feedback__item-content
        .feedback__item-header
          .feedback__item-name АЛИНА ФОМИНА
          .feedback__item-rate
            +svg('star_full')
            +svg('star_full')
            +svg('star_full')
            +svg('star_full')
            +svg('star_empty')
        .feedback__item-txt.
          Разнообразный и богатый опыт реализация намеченных плановых заданий 
          требуют определения и уточнения дальнейших направлений развития. Не 
          следует, однако забывать, что постоянный количественный рост и сфера 
          нашей активности. Разнообразный и богатый опыт реализация намеченных 
          плановых заданий требуют определения и уточнения дальнейших направлений 
          развития. Не следует, однако забывать, что постоянный количественный 
          рост и сфера нашей активности.
          и уточнения дальнейших направлений развития. Не следует, однако 
          забывать, что постоянный количественный рост и сфера нашей активности.
           И уточнения дальнейших направлений развития. Не следует, однако 
           забывать, что постоянный количественный рост и сфера нашей активности.
    .feedback__item
      .feedback__item-view.feedback__item-view_3
      .feedback__item-content
        .feedback__item-header
          .feedback__item-name АЛИНА ФОМИНА
          .feedback__item-rate
            +svg('star_full')
            +svg('star_full')
            +svg('star_full')
            +svg('star_full')
            +svg('star_empty')
        .feedback__item-txt.
          Разнообразный и богатый опыт реализация намеченных плановых заданий 
          требуют определения и уточнения дальнейших направлений развития. Не 
          следует, однако забывать, что постоянный количественный рост и сфера 
          нашей активности. Разнообразный и богатый опыт реализация намеченных 
          плановых заданий требуют определения и уточнения дальнейших направлений 
          развития. Не следует, однако забывать, что постоянный количественный 
          рост и сфера нашей активности.
          и уточнения дальнейших направлений развития. Не следует, однако 
          забывать, что постоянный количественный рост и сфера нашей активности.
           И уточнения дальнейших направлений развития. Не следует, однако 
           забывать, что постоянный количественный рост и сфера нашей активности.
