.feedback {
  flex-direction: column;
  // margin-top: 94px;
  padding-top: 46px;
  padding-bottom: 46px;
  align-items: center;
  &__title {
    margin-bottom: 80px;
    font-family: "DINPro";
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    color: $txt-color;
    text-transform: uppercase;
    text-align: center;
  }
  &__item {
    display: flex;
    width: 100%;
    margin-bottom: 32px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    background-color: #ffffff;
  }
  &__item-view {
    flex-shrink: 0;
    width: 137px;
    height: 137px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &_1 {
      background-image: url('img/client1.png');
    }
    &_2 {
      background-image: url('img/client2.png');
    }
    &_3 {
      background-image: url('img/client3.png');
    }
  }
  &__item-content {
    padding-left: 32px;
  }
  &__item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item-name {
    font-family: "DINPro";
    color: $btn-color;
    font-weight: 600;
    letter-spacing: 0.8px;
  }
  &__item-rate {
    display: flex;
    :not(:last-child) {
      margin-right: 8px;
    }
  }
  &__item-txt {
    padding-top: 15px;
    color: $secondaryText-color;
    font-weight: 300;
    line-height: 24px;
  }
}