doctype html
html
    include ../elements/head/head
    +head('West World', 'Page description', 'Page keywords')
    body

    include ../elements/header/header
    include ../elements/nav/nav
    include ../elements/main/main
    include ../elements/features/features
    include ../elements/cooperation/cooperation
    include ../elements/achievement/achievement
    include ../elements/products/products
    include ../elements/cadaster/cadaster
    include ../elements/guarantee/guarantee
    include ../elements/offers/offers

        script(src="js/libs.min.js")
        script(src="js/custom.js")