doctype html
html
    include ../elements/common/head/head
    +head('West World', 'Page description', 'Page keywords')
    body

        include ../elements/common/header/header
        include ../elements/common/nav/nav
        include ../elements/object-page/object-mainscreen/object-mainscreen
        include ../elements/object-page/infoblock/infoblock
        include ../elements/object-page/numbers/numbers
        include ../elements/common/slider/slider
        include ../elements/object-page/object-form/object-form
        include ../elements/object-page/object-location/object-location
        include ../elements/object-page/object-alike/object-alike
        include ../elements/common/footer/footer


        script(src="js/libs.min.js")
        script(src="js/custom.js")