.infoblock.section
  ._wrap.wrap
    h2._title Общая информация
    ._card
      ._card-content
        ._card-content-txt.
          Значимость этих проблем настолько очевидна, что консультация с широким 
          активом влечет за собой процесс внедрения и модернизации соответствующий 
          условий активизации. Идейные соображения высшего порядка, а также 
          консультация с широким активом в значительной 
        ._card-desc-wrapper
          ._card-desc-list
            ._card-desc-item
              ._card-desc-key РАЙОН
              ._card-desc-value Московский
            ._card-desc-item
              ._card-desc-key МЕТРО
              ._card-desc-value Метро
            ._card-desc-item
              ._card-desc-key ГОРОД
              ._card-desc-value Москва
            ._card-desc-item
              ._card-desc-key МИКРОРАЙОН
              ._card-desc-value Микрорайон
            ._card-desc-item
              ._card-desc-key ТИП СДЕЛКИ
              ._card-desc-value Продажа квартир
          ._card-desc-list
            ._card-desc-item
              ._card-desc-key ПЛАНИРОВКА
              ._card-desc-value 4 комнаты
            ._card-desc-item
              ._card-desc-key ЖИЛАЯ ПЛ.
              ._card-desc-value 103м<sup>2</sup>
            ._card-desc-item
              ._card-desc-key ПЛ. КУХНИ
              ._card-desc-value 49м<sup>2</sup>
            ._card-desc-item
              ._card-desc-key ЭТАЖ
              ._card-desc-value 24 из 24
      img(src="img/flat-view.jpg", alt="object")._card-img
