nav.nav.section
  .nav__wrap.wrap
    ul.nav__menu
      li.nav__menu-item 
        a.nav__menu-link Подбор объекта
      li.nav__menu-item
        a.nav__menu-link О компании
      li.nav__menu-item
        a.nav__menu-link Наши услуги
      li.nav__menu-item
        a.nav__menu-link Кадастр и геодеизия
      li.nav__menu-item
        a.nav__menu-link Специалисты
      li.nav__menu-item
        a.nav__menu-link Контакты