.products.section
  .products__wrap.wrap
    h2.products__title Наши Услуги
    .products__list
      .products__item
        .products__item-overlay
        img(src="img/flat.jpg", alt="flat").products__item-img
        h3.products__item-title Покупка/продажа квартир
        .products__item-text.
                            Поможем вам в кратчайшие сроки снять или сдать
                            недвижимость. Сопроводим сделку, от начала
                            до конца.
        .products__item-btn-group
          button.products__item-btn Сдать
          button.products__item-btn Снять
      .products__item
        .products__item-overlay
        img(src="img/apartment.jpg", alt="apartment").products__item-img
        h3.products__item-title Сдать/снять недвижимость
        .products__item-text.
                            Поможем вам в кратчайшие сроки снять или сдать
                            недвижимость. Сопроводим сделку, от начала
                            до конца.
        .products__item-btn-group
          button.products__item-btn Сдать
          button.products__item-btn Снять
      .products__item
        .products__item-overlay
        img(src="img/house.jpg", alt="house").products__item-img
        h3.products__item-title Покупка/продажа домов и участков
        .products__item-text.
                            Поможем вам в кратчайшие сроки снять или сдать
                            недвижимость. Сопроводим сделку, от начала
                            до конца.
        .products__item-btn-group
          button.products__item-btn Сдать
          button.products__item-btn Снять
      .products__item
        .products__item-overlay
        img(src="img/storage.jpg", alt="storage").products__item-img
        h3.products__item-title Покупка/продажа комерческой недвижимости
        .products__item-text.
                            Поможем вам в кратчайшие сроки снять или сдать
                            недвижимость. Сопроводим сделку, от начала
                            до конца.
        .products__item-btn-group
          button.products__item-btn Сдать
          button.products__item-btn Снять