.contacts {
  &__wrap {
    width: 100%;
    padding: 0;
    padding-left: calc((100vw - 1100px) / 2);
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 1102px) {
      padding-left: calc((100vw - 950px) / 2);
    }
  }
  &__content {
    padding-top: 96px;
    padding-left: 40px;
    padding-right: 8px;
    // min-height: 400px;
    @media (max-width: 1102px) {
      padding-top: 30px;
      padding-left: 10px;
      padding-right: 5px;
      // min-height: 420px;
    }
  }
  &__content-string {
    font-weight: 300;
    line-height: 24px;
    padding: 10px 0;
    padding-bottom: 17px;
    color: $secondaryText-color;
  }
  &__content-link {
    display: block;
    color: $secondaryText-color;
  }
  &__content-subtitle {
    font-family: "DINPro";
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 24px;
    color: $txt-color;
    text-transform: uppercase;
  }
  &__content-social-block {
    display: flex;
    padding-top: 17px;
    align-items: center;
  }
  &__map {
    min-height: 550px;
    @media (max-width: 1102px) {
      flex-grow: 0;
      min-height: 463px;
    }
  }

}
.big {
  width: 28px;
  height: 28px;
  margin-right: 21px;
  &_ig {
    fill: #d6249f;
  }
  &_fb {
    fill: $fb-color;
  }
  &_vk {
    width: 33px;
    height: 20px;
    fill: $vk-color;
  }
}