.contacts {
  &__wrap {
    width: 100%;
    padding: 0;
    padding-left: calc((100vw - 1100px) / 2);
    flex-direction: row;
    justify-content: space-between;
  }
  &__content {
    // display: flex;
    // flex-direction: column;
    padding-top: 96px;
    padding-left: 40px;
  }
  // &__content-title {
  //   font-family: "DINPro";
  //   font-size: 24px;
  //   font-weight: 500;
  //   letter-spacing: 1.2px;
  //   line-height: 24px;
  //   color: $txt-color;
  //   text-transform: uppercase;
  // }
  // &__content-address {
  //   font-weight: 300;
  //   line-height: 24px;
  //   padding: 17px 0;
  //   color: $secondaryText-color;
  // }
  &__content-string {
    // display: block;
    font-weight: 300;
    line-height: 24px;
    padding: 10px 0;
    padding-bottom: 17px;
    color: $secondaryText-color;
  }
  &__content-link {
    display: block;
  }
  &__content-subtitle {
    font-family: "DINPro";
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 24px;
    color: $txt-color;
    text-transform: uppercase;
  }
  // &__content-schedule {
  //   font-weight: 300;
  //   line-height: 24px;
  //   color: $secondaryText-color;
  //   padding: 17px 0;
  // }
  // &__content-phone {
  //   display: block;
  //   font-weight: 300;
  //   line-height: 24px;
  //   color: $secondaryText-color;
  // }
  // &__content-email {
  //   display: block;
  //   font-weight: 300;
  //   line-height: 24px;
  //   color: $secondaryText-color;
  //   padding-bottom: 17px;
  // }
  &__content-social-block {
    display: flex;
    padding-top: 17px;
    align-items: center;
  }

}
.big {
  width: 28px;
  height: 28px;
  margin-right: 21px;
  &_ig {
    fill: #d6249f;
  }
  &_fb {
    fill: $fb-color;
  }
  &_vk {
    width: 33px;
    height: 20px;
    fill: $vk-color;
  }
}