.contacts.section
  ._wrap.wrap
    ._content
      h2._content-title Офис в Москве
      ._content-address г. Москва, ул. Пушкина 31, офис 201
      h3._content-subtitle График работы офиса
      ._content-schedule.
        пн-пт: с 10:00 до 20:00 <br>
        сб: с 10:00 до 18:00 <br>
        вс: выходной <br>
      h3._content-subtitle Контакты
      a(href="tel:89993555533")._content-phone тел: 8 (999) 355 55 33
      a(href="mailto:e-mail: info@mirzapada.ru")._content-email e-mail: info@mirzapada.ru
      h3._content-subtitle Мы в соц. сетях
      ._content-social-block
        a(href="#")._content-social-link
          +svg('ig', 'big-red')
        a(href="#")._content-social-link
          +svg('fb', 'big-red')
        a(href="#")._content-social-link
          +svg('vk', 'big-red')

    ._map
      img(src="img/map.jpg", alt="map")._map-img