.achievement {
  padding-top: 32px;
  padding-bottom: 48px;
  &__wrap {
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    @media (max-width: 949px) {
      flex-direction: column;
    }
    @media (max-width: 767px) {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      &:nth-child(2) {
        flex-direction: row-reverse;
      }
    }
  }
  &__item-img {
    position: relative;
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    margin-right: 32px;
    border-radius: 50%;
    background-color: #f7f7f7;
    @media (max-width: 949px) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  &__item-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &_big {
      width: 65px;
      height: 66px;
    }

  }
  &__item-text {
    font-weight: 300;
    letter-spacing: 0.8px;
    line-height: 24px;
    color: $txt-color;
    @media (max-width: 949px) {
      text-align: center;
      padding: 0 10px;
    }
    @media (max-width: 767px) {
      text-align: left;
    }
  }
  &__item-attantion {
    font-weight: 500;
    color: $btn-color;
  }
}