.achievement.section
  .achievement__wrap.wrap
    .achievement__item
      .achievement__item-img
        +svg('keys', 'achievement__item-icon achievement__item-icon_big')
      .achievement__item-text Более <span class="achievement__item-attantion">1500</span> успешно проведенных сделок
    .achievement__item
      .achievement__item-img
        +svg('people', 'achievement__item-icon')
      .achievement__item-text Опыт сотрудников более <span class="achievement__item-attantion">15</span> лет 
    .achievement__item
      .achievement__item-img
        +svg('trophy', 'achievement__item-icon')
      .achievement__item-text Обладатели наград и дипломов