.guarantee.section
  .guarantee__overlay
    h2.guarantee__title Гарантия результата
    .guarantee__content.
      Наши специалисты имеют высокую квалификацию 
      и многолетний опыт работы. Мы гарантируем Вам индивидуальный подход, 
      безопасность и конфиденциальность сделок.
    button.guarantee__btn Заказать консультацию
