.form.section
  .form__wrap.wrap
    .form__overlay
      h2.form__title Остались вопросы?
      p.form__content Оставьте заявку в форме ниже и наш менеджер с вами свяжется
      .form__body
        input(type="text" name="name" placeholder="Ваше имя").form__body-input
        input(type="phone" name="phone" placeholder="+7 (___) ___ - __ - __").form__body-input
        button.form__body-btn Отправить заявку
    img(src="img/girl.png", alt="girl").form__img