header.header.section
  .header__wrap.wrap
    img(src="img/logo.png", alt="logo").header__logo
    .header__contacts 8 (999) 355 55 33
      a.header__contacts-call(href="#") обратный звонок
    button.header__btn Бесплатная консультация
      