.numbers.section
  ._wrap.wrap
    ._item
      ._item-value 152м<sup>2</sup>
      ._item-desc Общая площадь
    ._item
      ._item-value 4
      ._item-desc Комнаты
    ._item
      ._item-value 24
      ._item-desc Этаж
    ._item
      ._item-value 10 500 000 <span class="numbers__item-value_small">руб.</span>
      ._item-desc Цена