.features.section
  .features__wrap.wrap
    .features__item
      +svg('handshake')
      p.features__item-text Cдать недвижимость надолго
    .features__item
      +svg('box')
      p.features__item-text Cдать недвижимость быстро
    .features__item
      +svg('compass')
      p.features__item-text Услуги кадастрового инженера