.offers.section
  h2.offers__title Пакеты услуг
  .offers__wrap.wrap
    .swiper-container(data-slider="offers")
      .swiper-wrapper
        .swiper-slide
          .offers__card-wrapper
            .offers__card
              .offers__card-view.offers__card-view_econom
              h3.offers__card-title Пакет “ЭКОНОМ”
              .cadaster__list
                .cadaster__list-item
                  +svg('checked', 'cadaster__list-item-icon') 
                  p.cadaster__list-item-txt Предварительное исследование стоимости объекта
                .cadaster__list-item
                  +svg('checked', 'cadaster__list-item-icon') 
                  p.cadaster__list-item-txt Встреча с агентом на объекте
                .cadaster__list-item
                  +svg('checked', 'cadaster__list-item-icon') 
                  p.cadaster__list-item-txt Анализ ситуации и документов
                .cadaster__list-item
                  +svg('checked', 'cadaster__list-item-icon') 
                  p.cadaster__list-item-txt Выработка стратегии
                .cadaster__list-item
                  +svg('checked', 'cadaster__list-item-icon') 
                  p.cadaster__list-item-txt Профессиональная фотосъемка объекта
                .cadaster__list-item
                  +svg('checked', 'cadaster__list-item-icon') 
                  p.cadaster__list-item-txt Разработка маркетингового плана
                .cadaster__list-item
                  +svg('checked', 'cadaster__list-item-icon') 
                  p.cadaster__list-item-txt Отчёт о размещении рекламы
                .cadaster__list-item
                  +svg('checked', 'cadaster__list-item-icon') 
                  p.cadaster__list-item-txt Сопровождение сделки на всех этапах
              button.offers__card-btn Заказать
        .swiper-slide
          .offers__card-wrapper
            .offers__card
              .offers__card-view.offers__card-view_comfort
              h3.offers__card-title Пакет “КОМФОРТ”
              h4.offers__card-info все услуги пакета “ЭКОНОМ”
              +svg('plus', 'offers__card-icon')
              .cadaster__list
                .cadaster__list-item
                  +svg('checked', 'cadaster__list-item-icon') 
                  p.cadaster__list-item-txt Профессиональные переговоры и взаимодействие с покупателем
                .cadaster__list-item
                  +svg('checked', 'cadaster__list-item-icon') 
                  p.cadaster__list-item-txt Маркетинговое исследование рынка
                .cadaster__list-item
                  +svg('checked', 'cadaster__list-item-icon') 
                  p.cadaster__list-item-txt Регулярный отчёт о тенденциях и изменениях цен
                .cadaster__list-item
                  +svg('checked', 'cadaster__list-item-icon') 
                  p.cadaster__list-item-txt Сбор всех необходимых документов для сделки
                .cadaster__list-item
                  +svg('checked', 'cadaster__list-item-icon') 
                  p.cadaster__list-item-txt Премиум размещение рекламы обьекта
              button.offers__card-btn Заказать
        .swiper-slide            
          .offers__card-wrapper
            .offers__card
              .offers__card-view.offers__card-view_premium
              h3.offers__card-title Пакет “ПРЕМИУМ”
              h4.offers__card-info Все услуги пакетов “ЭКОНОМ” и “КОМФОРТ” 
              +svg('plus', 'offers__card-icon')
              .cadaster__list
                .cadaster__list-item
                  +svg('checked', 'cadaster__list-item-icon') 
                  p.cadaster__list-item-txt Мониторинг конкурирующих объектов, регулярный отчёт
                .cadaster__list-item
                  +svg('checked', 'cadaster__list-item-icon') 
                  p.cadaster__list-item-txt Клининговые услуги
                .cadaster__list-item
                  +svg('checked', 'cadaster__list-item-icon') 
                  p.cadaster__list-item-txt Размещение 3д-тура по объекту
                .cadaster__list-item
                  +svg('checked', 'cadaster__list-item-icon') 
                  p.cadaster__list-item-txt Топ размещение рекламы объекта
              button.offers__card-btn Заказать