.employees.section
  ._wrap.wrap
    ._card
      img(src="img/employee1.jpg", alt="employee")._card-img
      ._card-content
        ._card-name Алина Фомина
        ._card-position Менеджер
        ._card-experience Опыт работы: 5 лет
        ._card-desc. 
          Разнообразный и богатый опыт реализация намеченных
          плановых заданий требуют определения и уточнения дальнейших 
          направлений развития.
        ._card-btn-group
          button._card-btn-connect Связаться
          button._card-btn-feedback Оставить отзыв
    ._card
      img(src="img/employee2.jpg", alt="employee")._card-img
      ._card-content
        ._card-name Алина Фомина
        ._card-position Менеджер
        ._card-experience Опыт работы: 5 лет
        ._card-desc. 
          Разнообразный и богатый опыт реализация намеченных
          плановых заданий требуют определения и уточнения дальнейших 
          направлений развития.
        ._card-btn-group
          button._card-btn-connect Связаться
          button._card-btn-feedback Оставить отзыв
    ._card
      img(src="img/employee3.jpg", alt="employee")._card-img
      ._card-content
        ._card-name Алина Фомина
        ._card-position Менеджер
        ._card-experience Опыт работы: 5 лет
        ._card-desc. 
          Разнообразный и богатый опыт реализация намеченных
          плановых заданий требуют определения и уточнения дальнейших 
          направлений развития.
        ._card-btn-group
          button._card-btn-connect Связаться
          button._card-btn-feedback Оставить отзыв
    ._card
      img(src="img/employee4.jpg", alt="employee")._card-img
      ._card-content
        ._card-name Алина Фомина
        ._card-position Менеджер
        ._card-experience Опыт работы: 5 лет
        ._card-desc. 
          Разнообразный и богатый опыт реализация намеченных
          плановых заданий требуют определения и уточнения дальнейших 
          направлений развития.
        ._card-btn-group
          button._card-btn-connect Связаться
          button._card-btn-feedback Оставить отзыв
    ._card
      img(src="img/employee5.jpg", alt="employee")._card-img
      ._card-content
        ._card-name Алина Фомина
        ._card-position Менеджер
        ._card-experience Опыт работы: 5 лет
        ._card-desc. 
          Разнообразный и богатый опыт реализация намеченных
          плановых заданий требуют определения и уточнения дальнейших 
          направлений развития.
        ._card-btn-group
          button._card-btn-connect Связаться
          button._card-btn-feedback Оставить отзыв