.employees {
  padding: 96px 0;
  &__wrap {
    justify-content: space-between;
  }
  &__card {
    display: flex;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    transition: 0.4s;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
    &:hover {
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    }
  }
  &__card-img {
    flex-shrink: 0;
    min-height: 226px;
  }
  &__card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 40px;
    border: 1px solid #d3d3d3;
    border-left: none;
  }
  &__card-name {
    font-family: "DINPro";
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.2px;
    color: $txt-color;
    text-transform: uppercase;
  }
  &__card-position, &__card-experience, &__card-desc {
    font-weight: 300;
    color: $txt-color;
    padding-top: 7px;
  }
  &__card-desc {
    padding-top: 15px;
    line-height: 24px;
  }
  &__card-btn-group {
    margin-top: auto;
  }
  &__card-btn-connect {
    width: 154px;
    height: 45px;
    border-radius: 25px;
    background-color: $btn-color;
    color: #ffffff;
    transition: 0.4s;
    &:hover {
      background: darken($btn-color, 5%);
    }
  }
  &__card-btn-feedback {
    width: 197px;
    height: 45px;
    margin-left: 8px;
    border-radius: 25px;
    border: 1px solid #d3d3d3;
    background-color: #ffffff;
    color: $btn-color;
    transition: 0.4s;
    &:hover {
      background-color: $btn-color;
      color: #ffffff;
    }
  }
}