.select-item.section
  ._wrap.wrap
    ._container
      ._card
        img(src="img/obj_small.png", alt="object view")._card-img
        h3._card-title Пентхаус в центре
        ._card-params-list
          ._card-params-item
            ._card-params-key Площадь:
            ._card-params-value 152м<sup>2</sup>
          ._card-params-item
            ._card-params-key Кол-во комнат:
            ._card-params-value 4
          ._card-params-item
            ._card-params-key Этаж:
            ._card-params-value 24
          ._card-params-item
            ._card-params-key ЖК:
            ._card-params-value Название ЖК
          ._card-params-item
            ._card-params-key Адрес:
            ._card-params-value ул. Пушкина 39а
          ._card-params-item
            ._card-params-key Город:
            ._card-params-value Москва
        button._card-btn Подробнее
      ._map
        img(src="img/map_object.png", alt="map")